.namePack {
  display: flex;
  flex-direction: column;
}

.backPage {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
}

.title {
  margin-top: 33px;
  margin-bottom: 69px;
}

.pack {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 36px;
}

.message {
  color: var(--color-dark-100, #808080);
}
