button {
  all: unset;
}

.SelectTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  width: 210px;
  height: 36px;
  gap: 5px;
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid var(--color-dark-300, #4c4c4c);
  &:hover {
    border-color: var(--color-dark-100, #808080);
    background-color: var(--color-dark-500, #333);
  }
  &:focus {
    border: 2px solid var(--color-info-700, #2f68cc);
  }
}

.SelectIcon {
  display: flex;
}

.SelectContent {
  overflow: hidden;
  z-index: 2;
  background-color: var(--color-dark-900, #000000);
  border: 1px solid var(--color-dark-300, #4c4c4c);
}

.Item {
  height: 25px;
  padding: 0 12px;
  &:hover {
    background-color: var(--color-primary-900, #382766);
    color: var(--color-primary-300, #a280ff);
  }
  &[data-highlighted] {
    outline: none;
    background-color: var(--color-primary-900, #382766);
    color: var(--color-primary-300, #a280ff);
  }
  &:disabled {
    color: var(--color-dark-300, #4c4c4c);
  }
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: transparent;
  cursor: default;
}
