.content {
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 27px;
}

.text {
  padding-bottom: 41px;
  color: var(--color-light-900, #c3c1c7);
  opacity: 0.5;
  padding-top: 19px;
}

.sendButton {
  margin-bottom: 20px;
  display: flex;
  width: 100%;
}
