.packsHeader {
  display: flex;
  justify-content: space-between;
}

.packsFilter {
  display: flex;
  justify-content: space-between;
  padding-bottom: 36px;
}

.packsInputSearch {
  display: flex;
  align-items: flex-end;
}

.packsInput {
  margin-bottom: 0;
  width: 275px;
}

.packsSwitcher,
.packsSlider,
.packsFilterButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.svg {
  cursor: pointer;
}
